<div class="card bg-dark text-white">
  <div class="card-header">
    {{titulo}}
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <ul class="list-group text-white mb-3">
          <li class="list-group">
            <div class="col-sm">
                <img src="http://localhost:8087/api/uploads/imagen/{{cliente.imagen}}"
                 alt="{{cliente.imagen}}" class="img-thumbnail row" width="100px;">
            </div>

          </li>

          <li class="list-group">{{cliente.nombre}}</li>
          <li class="list-group">{{cliente.apellido}}</li>
          <li class="list-group">{{cliente.email}}</li>
          <li class="list-group">{{cliente.telefono}}</li>
          <li class="list-group">{{cliente.createdAt}}</li>
        </ul>

        <div class="input-group">
          <div class="custom-file">
            <label for="inputImg" class="custom-file-label">Buscar imagen</label>
            <input (change)="seleccionarImagen($event)" type="file" class="custom-file-input m-2" id="input">

          <div class="input-group-append">
            <button (click)="subirImagen()" class="btn btn-outline-info m-2">Guardar</button>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
