<div class="card border-primary mb-3">
  <div class="card-header">
Clientes
  </div>
  <div class="card-body text-primary">
<h4>Listado de clientes</h4>

<div *ngIf="authService.token" class="my-2 text-left">
  <button
        class="btn btn.rounded btn-primary"
        type="button"
        [routerLink]="['/clientes/crear']" >
  Nuevo Cliente
 </button>

</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Imagen</th>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Email</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Fecha</th>
      <th scope="col" *ngIf="authService.token">Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of clientes">
      <th ><img *ngIf="item.imagen" src="{{item.imagen}}" alt="sin imagen" class="img-thumbnail rounded" style="width:60px;">
        <img *ngIf="!item.imagen" src="{{imagenSrc}}" alt="sin imagen" class="img-thumbnail rounded" style="width:60px;">
      </th>
      <th scope="row">{{item.id}}</th>
      <td>{{item.nombre}}</td>
      <td>{{item.apellido}}</td>
      <td>{{item.email}}</td>
      <td>{{item.telefono}}</td>
      <td>{{item.createdAt}}</td>
      <td *ngIf="authService.token" >
        <button class="btn btn-secondary rounded btn-sm m-1" [routerLink]="['/clientes/ver',item.id]"  >Ver<i class="bi bi-search"></i></button>
        <button class="btn btn-info rounded btn-sm m-1" [routerLink]="['/clientes/editar',item.id]"  >Editar<i class="bi bi-pencil"></i></button>
        <button class="btn btn-danger rounded btn-sm m-1" (click)="delete(item)">Eliminar<i class="bi bi-trash"></i></button>
      </td>
    </tr>
  </tbody>
</table>
  </div>
</div>


